.sliders_div_wrapper {
	margin-top: 30px;
	display: flex;
}

.sliders_div {
	flex: 8;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.slider_border {
	flex: 1;
}

@media (min-width: 710px) {
	.sliders_div {
		flex: 3;
	}
}
