.general_text {
  pointer-events: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
  transition: all 0.3s ease-in-out;
  justify-self: center;
  align-self: center;
  grid-row: 1/2;
  z-index: 2;
}

.text_left {
  grid-column: 1/2;
}

.text_right {
  grid-column: 2/3;
}

.correct {
  color: #00b093;
}

.incorrect {
  color: #e66549;
}

.not_selected {
  color: #ffffff;
}
